<div class="ui divider"></div>
<form class="ui large fluid form">
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label
        class="ui label four wide column"
        for={{concat elementId "-number"}}
      >
        {{t "creditInvoices.number"}}
      </label>
      {{input
        type="text"
        value=creditInvoice.number
        autofocus=true
        id=(concat elementId "-number")
      }}
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditInvoices.date"}}
      </label>
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label
        class="ui label four wide column"
        for={{concat elementId "-client"}}
      >
        {{t "creditInvoices.new.client"}}
      </label>
      {{#ui-dropdown
        class="twelve wide column scrolling selection"
        selected=client
        onChange=(action (mut creditInvoice.client))
      }}
        <div class="default text">
          {{client}}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.settings.main.client as |client|}}
            <div class="item" data-value={{client}}>
              {{client}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label
        class="ui label four wide column"
        for={{concat elementId "-cNnotes"}}
      >
        {{t "creditInvoices.new.cNotes"}}
      </label>
      {{! credit notes checkbox list }}
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditInvoices.new.currency"}}
      </label>
      {{#ui-dropdown
        class="twelve wide column scrolling selection"
        selected=currency
        onChange=(action (mut creditInvoice.currency))
      }}
        <div class="default text">
          {{currency}}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.settings.main.currencies as |currency|}}
            <div class="item" data-value={{currency}}>
              {{currency}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditInvoices.new.taxRate"}}
      </label>
      {{#ui-dropdown
        class="twelve wide column scrolling selection"
        selected=taxRate
        onChange=(action (mut creditInvoice.taxRate))
      }}
        <div class="default text">
          {{taxRate}}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.settings.main.taxRate as |taxRate|}}
            <div class="item" data-value={{taxRate}}>
              {{taxRate}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>
</form>