<div class="ui grid">
  <div class="eight wide column">
    <form class="ui large fluid form">
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label
            class="ui label four wide column"
            for={{concat this.elementId "-client"}}
          >
            {{t "creditInvoices.new.client"}}
          </label>
          <UiDropdown
            class="twelve wide column search selection"
            @selected={{this.client}}
            @onChange={{action this.setClient}}
            autofocus="true"
          >
            <div class="default text">
              {{this.client}}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.clientList as |client|}}
                <div class="item" data-value={{client.id}}>
                  {{client.name}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label
            class="ui label four wide column"
            for={{concat this.elementId "-number"}}
          >
            {{t "creditInvoices.number"}}
          </label>
          <Input
            @type="text"
            @value={{this.creditInvoice.number}}
            id={{concat this.elementId "-number"}}
           />

        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label
            class="ui label four wide column"
            for={{concat this.elementId "-date"}}
          >
            {{t "creditInvoices.date"}}
          </label>
          <UiCalendar
            @type="date"
            @date={{@creditInvoice.date}}
            @onChange={{action (mut @creditInvoice.date)}}
            @placeholder="Select date"
            @allowClear={{true}}
            id={{concat this.elementId "-date"}}
           />

        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label
            class="ui label four wide column"
            for={{concat this.elementId "-cNnotes"}}
          >
            {{t "creditInvoices.new.cNotes"}}
          </label>
          {{! credit notes checkbox list }}
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column">
            {{t "creditInvoices.new.currency"}}
          </label>
          {{#if this.main}}
            {{#ui-dropdown
              class="twelve wide column scrolling selection"
              selected=@creditInvoice.currency
              onChange=(action (mut @creditInvoice.currency))
            }}
              <div class="default text">
                {{@creditInvoice.currency}}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each this.main.currencies as |currency|}}
                  <div class="item" data-value={{currency}}>
                    {{currency}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          {{/if}}
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column">
            {{t "creditInvoices.new.taxRate"}}
          </label>
          {{#if this.main}}
            {{#ui-dropdown
              class="twelve wide column scrolling selection"
              selected=@creditInvoice.vat_rate
              onChange=(action (mut @creditInvoice.vat_rate))
            }}
              <div class="default text">
                {{@creditInvoice.vat_rate}}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each this.main.vat_rate as |vat_rate|}}
                  <div class="item" data-value={{vat_rate}}>
                    {{vat_rate}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          {{/if}}
        </div>
      </div>
    </form>
  </div>
  <div class="eight wide column">
    <div class="ui fluid secondary vertical menu">
      <span
        class="ui link item"
        {{on "click" (toggle "showExtra" this)}}
        {{on "click" (fn this.closeOther "showContact")}}
      >
        {{t "components.creditInvoiceForm.extraLines.header"}}
        <i class="angle double {{orientation this.showExtra}} icon"></i>
      </span>
      {{#if this.showExtra}}
        <div class="ui basic segment">
          <form class="ui fluid form">
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-serviceName"}}
                >
                  {{t "components.creditInvoiceForm.extraLines.serviceName"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-serviceName"}}
                 />

              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-quantity"}}
                >
                  {{t "components.creditInvoiceForm.extraLines.quantity"}}
                </label>
                <Input @type="text" id={{concat this.elementId "-quantity"}} />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-value"}}
                >
                  {{t "components.creditInvoiceForm.extraLines.value"}}
                </label>
                <Input @type="text" id={{concat this.elementId "-value"}} />
              </div>
            </div>
          </form>
        </div>
      {{/if}}
    </div>
    <div class="ui divider"></div>
    <div class="ui fluid secondary vertical menu">
      <span
        class="ui link item"
        {{on "click" (toggle "showContact" this)}}
        {{on "click" (fn this.closeOther "showExtra")}}
      >
        {{t "components.creditInvoiceForm.contactInfo.header"}}
        <i class="angle double {{orientation this.showContact}} icon"></i>
      </span>
      {{#if this.showContact}}
        <div class="ui basic segment">
          <form class="ui fluid form">
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-name"}}
                >
                  {{t "components.creditInvoiceForm.contactInfo.name"}}
                </label>
                <Input @type="text" id={{concat this.elementId "-name"}} />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-id"}}
                >
                  {{t "components.creditInvoiceForm.contactInfo.id"}}
                </label>
                <Input @type="text" id={{concat this.elementId "-id"}} />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label
                  class="ui label four wide column"
                  for={{concat this.elementId "-transport"}}
                >
                  {{t "components.creditInvoiceForm.contactInfo.transport"}}
                </label>
                <Input @type="text" id={{concat this.elementId "-transport"}} />
              </div>
            </div>
          </form>
        </div>
      {{/if}}
    </div>
  </div>
</div>