<form class="ui form">
  <div class="fields">


    {{#ui-dropdown class="fluid scrolling selection" selected=country onChange=(action (mut country)) showOnFocus=false}}
      <i class="dropdown icon"></i>
      <div class="default text"></div>
      <div class="menu">
        {{#each countries as |country|}}
          <div class="item" data-value="{{country.alpha2Code}}">
            <i class="{{lower-case country.alpha2Code}} flag"></i>
            {{country.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}


    {{input type="text" value=cif placeholder="CIF"}}
    <button class="ui primary button" {{action 'findCompany'}}>FIND</button>
  </div>
</form>
