{{! TODO fix no-nested-interactive/no-invalid-interactive }}
<form
  class="ui fluid {{this.formClass}} form"
  role="button"
  oninput={{action "changeCif"}}
  {{! TODO check proper role }}
>
  <div class="ui success message">
    {{t "components.findCompany.success"}}
  </div>
  <div class="ui error message">
    {{t "components.findCompany.error"}}
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      {{#if this.countries.dataFetched}}
        {{#ui-dropdown
          class="scrolling selection"
          selected=this.country
          onChange=(action (mut this.country))
          showOnFocus=false
        }}
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            {{#each this.countries.list as |country|}}
              <div class="item" data-value={{country.value}}>
                {{#if (eq country.value "EL")}}
                  <i class="gr flag"></i>
                {{else}}
                  <i class="{{lowercase country.value}} flag"></i>
                {{/if}}
                {{country.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
      {{input type="text" value=this.cif placeholder="CIF"}}
      <button
        class="ui primary button"
        disabled={{this.searchDisabled}}
        {{action (perform this.findTask)}}
      >
        {{t "components.findCompany.findButton"}}
      </button>
    </div>
  </div>
</form>