<form class="ui fluid {{formClass}} form" oninput={{action "changeCif"}}>
  <div class="ui success message">Company found, please review and save.</div>
  <div class="ui error message">Company not found, please try again or input data manually.</div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      {{#if countries.dataFetched}}
        {{#ui-dropdown class="scrolling selection" selected=country onChange=(action (mut country)) showOnFocus=false}}
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            {{#each countries.list as |country|}}
              <div class="item" data-value={{country.value}}>
                {{#if (eq country.value "EL")}}
                  <i class="gr flag"></i>
                {{else}}
                  <i class="{{lowercase country.value}} flag"></i>
                {{/if}}
                {{country.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
      {{input type="text" value=cif placeholder="CIF"}}
      <button class="ui primary button" disabled={{searchDisabled}} {{action (perform findTask)}}>Find Company</button>
    </div>
  </div>
</form>