<div class="ui middle aligned item grid" onMouseEnter={{action "mouseIn"}} onMouseLeave={{action "mouseOut"}}
  onclick={{action "editMode"}}>
  <div class="ui four wide column">{{name}}</div>
  <div class="ui six wide column">
    <div class="ui fluid {{if editMode "input"}}">
      {{#if editMode}}
        {{#if textarea}}
          {{textarea rows=2 cols=50 value=value}}
        {{else}}
          {{input type=type value=value}}
        {{/if}}
      {{else}}
        {{value}}
      {{/if}}
    </div>
  </div>
  <div class="ui six wide column" onMouseEnter={{action "mouseIn"}} onMouseLeave={{action "mouseOut"}}
    onclick={{action "saveChanges"}}>
    <div class="ui right floated">
      {{#if editMode}}
        {{#if showIcon}}
          <i class="olive save icon"></i>
        {{/if}}
        Save
      {{else}}
        {{#if showIcon}}
          <i class="teal pencil alternate icon"></i>
        {{/if}}
        Edit
      {{/if}}
    </div>
  </div>
</div>