<div class="ui divider"></div>
<form class="ui large fluid form">
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-number"}}>
        {{t "creditNotes.number"}}
      </label>
      <Input @type="text" @value={{@creditNote.number}} autofocus="true" id={{concat this.elementId "-number"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditNotes.vehicle"}}
      </label>
      <UiDropdown
        class="twelve wide column scrolling selection"
        @selected={{this.selectedVehicle}}
        @onChange={{this.setVehicle}}
      >
        <div class="default text">
          {{this.selectedVehicle.registration}}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each @vehicles as |vehicle|}}
            <div class="item" data-value={{vehicle.id}}>
              {{vehicle.registration}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-value"}}>
        {{t "creditNotes.value"}}
      </label>
      <Input @type="text" @value={{@creditNote.value}} autofocus="true" id={{concat this.elementId "-value"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-start"}}>
        {{t "creditNotes.start"}}
      </label>
      <Input @type="text" @value={{@creditNote.start}} autofocus="true" id={{concat this.elementId "-start"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-stop"}}>
        {{t "creditNotes.stop"}}
      </label>
      <Input @type="text" @value={{@creditNote.end}} autofocus="true" id={{concat this.elementId "-stop"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-notes"}}>
        {{t "creditNotes.notes"}}
      </label>
      <Input @type="text" @value={{@creditNote.notes}} autofocus="true" id={{concat this.elementId "-notes"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditNotes.currency"}}
      </label>
      <UiDropdown
        class="twelve wide column scrolling selection"
        @selected={{@creditNote.currency}}
        @onChange={{mut @creditNote.currency}}
      >
        <div class="default text">
          {{@creditNote.currency}}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.settings.main.currencies as |currency|}}
            <div class="item" data-value={{currency}}>
              {{currency}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "creditNotes.paid"}}
      </label>
      <UiCheckbox class="slider" @checked={{@creditNote.paid}} @onChange={{mut @creditNote.paid}} />
    </div>
  </div>
</form>