<div class="ui grid">
  <div class="eight wide column">
    <form class="ui large fluid form">
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-client"}}>
            {{t "creditInvoices.new.client"}}
          </label>
          <UiDropdown
            class="twelve wide column search selection"
            @selected={{@creditInvoice.company}}
            @onChange={{mut @creditInvoice.company}}
            autofocus="true" as |execute mapper|
          >
            <div class="default text">
              {{@creditInvoice.company.name}}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.clientList as |client|}}
                <div class="item" data-value={{map-value mapper client}}>
                  {{client.name}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-number"}}>
            {{t "creditInvoices.number"}}
          </label>
          <Input
            @type="text"
            @value={{this.creditInvoice.number}}
            id={{concat this.elementId "-number"}}
            {{on "focus" this.getLastNumber}}
          />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-date"}}>
            {{t "creditInvoices.date"}}
          </label>
          <UiCalendar
            @type="date"
            @date={{@creditInvoice.date}}
            @onChange={{mut @creditInvoice.date}}
            @placeholder="Select date"
            @allowClear={{true}}
            id={{concat this.elementId "-date"}}
          />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-cNnotes"}}>
            {{t "creditInvoices.new.cNotes"}}
          </label>
          <UiDropdown
            class="twelve wide column search multiple selection"
            @selected={{@creditInvoice.cNotes}}
            @onChange={{mut @creditInvoice.creditNotes}} as |execute mapper|
          >
            <div class="default text">
              {{@creditInvoice.cNotes}}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.cNotesList as |cn|}}
                <div class="item" data-value={{map-value mapper cn}}>
                  {{cn.number}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column">
            {{t "creditInvoices.new.currency"}}
          </label>
          {{#if this.main}}
            <UiDropdown
              class="twelve wide column scrolling selection"
              @selected={{@creditInvoice.currency}}
              @onChange={{mut @creditInvoice.currency}}
            >
              <div class="default text">
                {{@creditInvoice.currency}}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each this.main.currencies as |currency|}}
                  <div class="item" data-value={{currency}}>
                    {{currency}}
                  </div>
                {{/each}}
              </div>
            </UiDropdown>
          {{/if}}
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column">
            {{t "creditInvoices.new.taxRate"}}
          </label>
          {{#if this.main}}
            <UiDropdown
              class="twelve wide column scrolling selection"
              @selected={{@creditInvoice.taxRate}}
              @onChange={{mut @creditInvoice.taxRate}}
            >
              <div class="default text">
                {{@creditInvoice.taxRate}}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each this.main.tax_rate as |tax_rate|}}
                  <div class="item" data-value={{tax_rate}}>
                    {{tax_rate}}
                  </div>
                {{/each}}
              </div>
            </UiDropdown>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
  <div class="eight wide column">
    <div class="ui fluid secondary vertical menu">
      <div
        class="ui link item"
        role="button"
        {{on "click" (toggle "showExtra" this)}}
        {{on "click" (toggle "showContact" this)}}
      >
        {{t "components.creditInvoiceForm.extraLines.header"}}
        <i class="angle double {{orientation this.showExtra}} icon"></i>
      </div>
      {{#if this.showExtra}}
        <div class="ui basic segment">
          <form class="ui fluid form">
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-serviceName"}}>
                  {{t "components.creditInvoiceForm.extraLines.serviceName"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-serviceName"}}
                  @value={{this.extra.serviceName}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-quantity"}}>
                  {{t "components.creditInvoiceForm.extraLines.quantity"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-quantity"}}
                  @value={{this.extra.quantity}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-value"}}>
                  {{t "components.creditInvoiceForm.extraLines.value"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-value"}}
                  @value={{this.extra.value}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
          </form>
        </div>
      {{/if}}
    </div>
    <div class="ui divider"></div>
    <div class="ui fluid secondary vertical menu">
      <div
        role="button"
        class="ui link item"
        {{on "click" (toggle "showContact" this)}}
        {{on "click" (toggle "showExtra" this)}}
      >
        {{t "components.creditInvoiceForm.contactInfo.header"}}
        <i class="angle double {{orientation this.showContact}} icon"></i>
      </div>
      {{#if this.showContact}}
        <div class="ui basic segment">
          <form class="ui fluid form">
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-name"}}>
                  {{t "components.creditInvoiceForm.contactInfo.name"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-name"}}
                  @value={{this.contact.name}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-id"}}>
                  {{t "components.creditInvoiceForm.contactInfo.id"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-id"}}
                  @value={{this.contact.id}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
            <div class="inline field">
              <div class="ui fluid labeled input grid">
                <label class="ui label four wide column" for={{concat this.elementId "-transport"}}>
                  {{t "components.creditInvoiceForm.contactInfo.transport"}}
                </label>
                <Input
                  @type="text"
                  id={{concat this.elementId "-transport"}}
                  @value={{this.contact.transport}}
                  {{on "change" (fn this.addExtraData)}}
                />
              </div>
            </div>
          </form>
        </div>
      {{/if}}
    </div>
  </div>
</div>