<form class="ui fluid {{this.formClass}} form">
  <div class="ui success message">
    {{t "components.findCompany.success"}}
  </div>
  <div class="ui error message">
    {{t "components.findCompany.error"}}
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      {{#if this.countries.dataFetched}}
        <UiDropdown
          class="scrolling selection"
          @selected={{this.country}}
          @onChange={{fn (mut this.country)}}
          @showOnFocus={{false}}
        >
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            {{#each this.countries.list as |country|}}
              <div class="item" data-value={{country.value}}>
                {{#if (eq country.value "EL")}}
                  <i class="gr flag"></i>
                {{else}}
                  <i class="{{lowercase country.value}} flag"></i>
                {{/if}}
                {{country.name}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      {{/if}}
      <Input type="text" placeholder="CIF" @value={{this.cif}} {{on "input" this.changeCif}} />
      <button
        class="ui primary button"
        type="button"
        disabled={{this.searchDisabled}}
        {{on "click" (perform this.findTask)}}
      >
        {{t "components.findCompany.findButton"}}
      </button>
    </div>
  </div>
</form>