{{#if this.showPagination}}
  <div class="ui pagination menu">
    {{#unless this.prevButton}}
      {{#unless this.firstButton}}
        <div class="ui link item" role="button" {{on "click" (fn @pageChange 1)}}>
          <i class="fast backward icon"></i>
        </div>
      {{/unless}}
      <div class="ui link item" role="button" {{on "click" (fn @pageChange (dec this.currentPage))}}>
        <i class="left arrow icon"></i>
      </div>
    {{/unless}}
    <UiDropdown
      class="fluid scrolling selection"
      @selected={{this.currentPage}}
      @onChange={{@page}} as |execute mapper|
    >
      <div class="default text">
        {{t "components.paginationList.pageNr"}}
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.pageList as |page|}}
          <div class="item" data-value={{map-value mapper page}}>
            {{page}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
    {{#unless this.nextButton}}
      <div class="ui link item" role="button" {{on "click" (fn @pageChange (inc this.currentPage))}}>
        <i class="right arrow icon"></i>
      </div>
      {{#unless this.lastButton}}
        <div class="ui link item" role="button" {{on "click" (fn @pageChange this.pageCount)}}>
          <i class="fast forward icon"></i>
        </div>
      {{/unless}}
    {{/unless}}
  </div>
{{/if}}