<div class="ui middle aligned item grid">
  <div class="ui four wide column">
    {{t (concat "settings." @objType "." (camelize @prop))}}
  </div>
  <div
    class="ui six wide column"
    role="button"
    {{on "mouseenter" this.mouseIn}}
    {{on "mouseleave" this.mouseOut}}
    {{on "click" this.toggleEdit}}
  >
    <div class="ui fluid {{if this.editMode "input"}}">
      {{#if this.editMode}}
        {{#if this.textarea}}
          <Textarea rows="2" cols="50" @value={{@value}} />
        {{else}}
          <Input type={{@inputType}} @value={{@value}} />
        {{/if}}
      {{else}}
        {{@value}}
      {{/if}}
    </div>
  </div>
  <div
    class="ui six wide column"
    role="button"
    {{on "mouseenter" this.mouseIn}}
    {{on "mouseleave" this.mouseOut}}
    {{on "click" this.saveChanges}}
  >
    <div class="ui right floated">
      {{#if this.editMode}}
        {{#if this.showIcon}}
          <i class="olive save icon"></i>
        {{/if}}
        {{t "general.save"}}
      {{else if this.showIcon}}
        <i class="teal pencil alternate icon"></i>{{t "general.edit"}}
      {{/if}}
    </div>
  </div>
</div>