<div class="ui item">
  <div class="ui middle aligned grid">
    <div class="ui four wide column">
      {{t (concat "settings.main." (camelize @category))}}
    </div>
    <div class="ui twelve wide column">
      <div class="ui selection relaxed divided list">
        {{#each @list as |item|}}
          <MultilineItem @item={{item}} @deleteItem={{this.removeItem}} />
        {{/each}}
        <div class="ui item">
          {{#if this.addMode}}
            <div class="ui middle aligned grid">
              <div class="ui eight wide column">
                <div class="ui fluid input">
                  <Input type={{@type}} @value={{this.value}} {{on "keyup" this.addItem}} />
                </div>
              </div>
              <div
                role="button"
                class="ui eight wide column"
                {{on "mouseenter" this.mouseIn}}
                {{on "mouseleave" this.mouseOut}}
                {{on "click" this.addItem}}
              >
                <div class="ui right floated">
                  {{#if this.showSaveIcon}}
                    <i class="large olive save icon"></i>
                  {{/if}}
                  {{t "general.save"}}
                </div>
              </div>
            </div>
          {{else}}
            <div role="button" {{on "click" this.addModeToggle}}>
              <i class="left floated plus teal icon"></i>
              {{t "general.addNew"}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>