<div class="ui divider"></div>
<form class="ui large fluid form">
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-vin"}}>
        {{t "vehicles.vin"}}
      </label>
      <Input type="text" @value={{@vehicle.vin}} autofocus={{true}} id={{concat this.elementId "-vin"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column" for={{concat this.elementId "-reg"}}>
        {{t "vehicles.registration"}}
      </label>
      <Input type="text" @value={{@vehicle.registration}} id={{concat this.elementId "-reg"}} />
    </div>
  </div>
  <div class="inline field">
    <div class="ui fluid labeled input grid">
      <label class="ui label four wide column">
        {{t "general.category"}}
      </label>
      <UiDropdown
        class="twelve wide column scrolling selection"
        @selected={{@vehicle.category}}
        @onChange={{mut @vehicle.category}}
        @showOnFocus={{false}}
      >
        {{@vehicle.category}}
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.settings.main.veh_cat as |cat|}}
            <div class="item" data-value={{cat}}>
              {{cat}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
  </div>
  {{#if (not-eq this.router.currentRouteName "vehicles.new")}}
    <div class="inline field">
      <div class="ui fluid labeled input grid">
        <label class="ui label four wide column">
          {{t "vehicles.active"}}
        </label>
        <UiCheckbox class="slider" checked={{@vehicle.active}} @onChange={{mut @vehicle.active}} />
      </div>
    </div>
  {{/if}}
</form>