<UiModal class="userModal small" @closable={{false}}>
  <div class="header">
    {{t "general.editing"}}
    {{this.user.fullName}}
    ...
  </div>
  <div class="content">
    <form class="ui large fluid form">
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-first"}}>
            {{t "users.edit.firstName"}}
          </label>
          <Input type="text" @value={{this.user.firstName}} autofocus={{true}} id={{concat this.elementId "-first"}} />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-last"}}>
            {{t "users.edit.lastName"}}
          </label>
          <Input type="text" @value={{this.user.lastName}} id={{concat this.elementId "-last"}} />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-email"}}>
            {{t "users.edit.email"}}
          </label>
          <Input type="email" @value={{this.user.email}} id={{concat this.elementId "-email"}} />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column" for={{concat this.elementId "-ssn"}}>
            {{t "users.edit.ssn"}}
          </label>
          <Input type="text" @value={{this.user.ssn}} id={{concat this.elementId "-ssn"}} />
        </div>
      </div>
      <div class="inline field">
        <div class="ui fluid labeled input grid">
          <label class="ui label four wide column">
            {{t "users.edit.lang.title"}}
          </label>
          <UiDropdown
            class="ui twelve wide column scrolling selection"
            @selected={{this.user.lang}}
            @onChange={{fn (mut this.user.lang)}}
            @showOnFocus={{false}}
          >
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="en-us">
                <i class="us flag"></i>
                {{t "users.edit.lang.en"}}
              </div>
              <div class="item" data-value="ro-ro">
                <i class="ro flag"></i>
                {{t "users.edit.lang.ro"}}
              </div>
            </div>
          </UiDropdown>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" type="button" {{on "click" this.cancelButton}}>
      {{t "general.cancel"}}
    </button>
    <button class="ui positive button" type="button" {{on "click" this.okButton}}>
      {{t "general.update"}}
    </button>
  </div>
</UiModal>