{{#ui-modal
  name="creditNoteModal"
  class="creditNoteModal small"
  onApprove=(action "approveModal")
  closable=false
}}
  <div class="header">
    {{t "credit_notes.new.title"}}
  </div>
  <div class="content">
    <div class="scrolling">
      {{credit-note-form creditNote=creditNote vehicles=vehicles}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" {{action "cancelButton"}}>
      {{t "general.cancel"}}
    </button>
    <div class="ui positive button">
      {{t "general.save"}}
    </div>
  </div>
{{/ui-modal}}