<UiModal
  class="creditInvoiceModal large"
  @name="creditInvoiceModal"
  @onApprove={{fn this.approveModal}}
  @closable={{false}}
>
  <div class="header">
    {{t "creditInvoices.new.title"}}
  </div>
  <div class="content">
    <div class="scrolling">
      <CreditInvoiceForm @creditInvoice={{this.creditInvoice}} />
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" type="button" {{on "click" this.cancelButton}}>
      {{t "general.cancel"}}
    </button>
    <div class="ui positive button">
      {{t "general.save"}}
    </div>
  </div>
</UiModal>