{{#ui-modal
  name="creditInvoiceModal"
  class="creditInvoiceModal large"
  onApprove=(action "approveModal")
  closable=false
}}
  <div class="header">
    {{t "creditInvoices.new.title"}}
  </div>
  <div class="content">
    <div class="scrolling">
      {{!-- {{credit-invoice-form creditInvoice=creditInvoice}} --}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" {{action "cancelButton"}}>
      {{t "general.cancel"}}
    </button>
    <div class="ui positive button">
      {{t "general.save"}}
    </div>
  </div>
{{/ui-modal}}