<UiModal @name="companyModal" @class="companyModal small" @onApprove={{this.approveModal}} @closable={{false}}>
  <div class="header">
    {{t "companies.addNew"}}
  </div>
  <div class="content">
    <FindCompany @returnData={{this.returnData}} />
    <div class="scrolling">
      {{#if this.showForm}}
        <CompanyForm @data={{this.company}} />
      {{/if}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" type="button" {{on "click" this.cancelButton}}>
      {{t "general.cancel"}}
    </button>
    <button class="ui positive {{if this.saveDisabled "disabled"}} button" type="button">
      {{t "general.save"}}
    </button>
  </div>
</UiModal>