{{#ui-modal
  name="companyModal"
  class="companyModal small"
  onApprove=(action "approveModal")
  closable=false
}}
  <div class="header">
    {{t "companies.addNew"}}
  </div>
  <div class="content">
    {{find-company returnData=(action "returnData")}}
    <div class="scrolling">
      {{#if this.showForm}}
        {{company-form data=this.company}}
      {{/if}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" {{action "cancelButton"}}>
      {{t "general.cancel"}}
    </button>
    <div class="ui positive {{if this.saveDisabled "disabled"}} button">
      {{t "general.save"}}
    </div>
  </div>
{{/ui-modal}}