<div class="ui container">
  <div class="ui huge secondary pointing menu">
    {{link-to "CTCAdmin2" "home" class="item header"}}
    <div class="right menu">
      {{#if session.isAuthenticated}}
        {{link-to (t "application.links.vehicles") "vehicles" class="item"}}
        {{link-to
          (t "application.links.creditInvoices")
          "credit-invoices"
          class="item"
        }}
        {{link-to
          (t "application.links.creditNotes")
          "credit-notes"
          class="item"
        }}
        {{link-to (t "application.links.companies") "companies" class="item"}}
        {{#if currentUser.user.admin}}
          {{link-to (t "application.links.users") "users" class="item"}}
        {{/if}}
        {{link-to (t "application.links.settings") "settings" class="item"}}
        <a href="#" class="item" id="logoutBtn" {{action "invalidateSession"}}>
          {{t "application.links.logout"}}
        </a>
      {{else}}
        {{#ui-dropdown
          class="pointing item"
          selected="en-us"
          onChange=(action "changeLocale")
        }}
          <div class="default text"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div data-value="en-us" class="item">
              <i class="us flag"></i>
            </div>
            <div data-value="ro-ro" class="item">
              <i class="ro flag"></i>
            </div>
          </div>
        {{/ui-dropdown}}
        {{#if (eq router.currentRouteName "registration")}}
          {{#link-to "login" class="item"}}
            {{t "login.button.login"}}
          {{/link-to}}
        {{else}}
          {{#link-to "registration" class="item"}}
            {{t "registration.button.registration"}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#each flashMessages.queue as |flash|}}
    {{flash-alert flash=flash}}
  {{/each}}
</div>
<div class="ui container" id="body_container">
  {{outlet}}
</div>