<div class="ui huge secondary pointing menu">
  <LinkTo @route="home" class="item header">
    {{t "application.appName"}}
  </LinkTo>
  <div class="right menu">
    {{#if this.session.isAuthenticated}}
      <div class="item">
        {{t "general.loggedIn"}}
        {{this.currentUser.user.fullName}}
      </div>
      <div class="link item" id="logoutBtn" role="button" {{on "click" this.invalidateSession}}>
        {{t "application.links.logout"}}
      </div>
    {{else}}
      {{!-- <UiDropdown class="pointing item" @selected="en-us" @onChange={{fn this.changeLocale}}>
        <div class="default text"></div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div data-value="en-us" class="item">
            <i class="us flag"></i>
          </div>
          <div data-value="ro-ro" class="item">
            <i class="ro flag"></i>
          </div>
        </div>
      </UiDropdown> --}}
      {{#if (eq this.router.currentRouteName "registration")}}
        <LinkTo @route="login" class="item">
          {{t "login.button.login"}}
        </LinkTo>
      {{else}}
        <LinkTo @route="registration" class="item">
          {{t "registration.button.registration"}}
        </LinkTo>
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="ui grid">
  {{#if this.session.isAuthenticated}}
    <div class="two wide column">
      <div class="ui fluid secondary left vertical pointing menu">
        <LinkTo @route="vehicles" class="teal item">
          {{t "application.links.vehicles"}}
        </LinkTo>
        <LinkTo @route="credit-invoices" class="teal item">
          {{t "application.links.creditInvoices"}}
        </LinkTo>
        <LinkTo @route="credit-notes" class="teal item">
          {{t "application.links.creditNotes"}}
        </LinkTo>
        <div class="ui dropdown item">
          {{t "temp.expenses.main"}}
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="link item">
              {{t "temp.expenses.national"}}
            </div>
            <div class="link item">
              {{t "temp.expenses.international"}}
            </div>
            <div class="link item">
              {{t "temp.expenses.trip"}}
            </div>
          </div>
        </div>
        <div class="item">
          {{t "application.links.employees"}}
        </div>
        <div class="item">
          {{t "application.links.utils"}}
        </div>
        <LinkTo @route="companies" class="teal item">
          {{t "application.links.companies"}}
        </LinkTo>
        {{#if this.currentUser.user.admin}}
          <LinkTo @route="users" class="teal item">
            {{t "application.links.users"}}
          </LinkTo>
        {{/if}}
        <LinkTo @route="settings" class="teal item">
          {{t "application.links.settings"}}
        </LinkTo>
      </div>let envIsDevelopment = process.env.EMBER_ENV === "development";
    </div>
  {{/if}}
  <div class="{{if this.session.isAuthenticated "fourteen wide "}} column">
    <div>
      {{#each this.flashMessages.queue as |flash|}}
        <FlashAlert @flash={{flash}} />
      {{/each}}
    </div>
    <div class="ui container" id="body_container">
      {{outlet}}
    </div>
  </div>
</div>
