<div class="ui centered raised segment">
  <table class="ui table sortable padded selectable striped celled attached">
    <caption class="ui huge header teal">
      {{t "companies.title"}}
    </caption>
    <thead>
      <tr>
        <SortableHeader @sort={{this.sort}} @prop="name" @setSort={{this.setSort}}>
          {{t "companies.table.header.name"}}
        </SortableHeader>
        <th>
          {{t "companies.table.header.vat"}}
        </th>
        <th>
          {{t "companies.table.header.contact"}}
        </th>
        <th>
          {{t "companies.table.header.phone"}}
        </th>
        <th>
          <div class="ui search">
            <div class="ui fluid icon input">
              <Input value={{this.filter}} key-up={{fn this.setPage}} class="prompt" type="text" placeholder="Search" />
              <i
                class="{{if this.filterEmpty "search" "remove link"}} icon"
                role="button"
                {{on "click" this.clearFilter}}
              ></i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="5">
          <div class="ui items">
            <div class="item">
              <div class="middle aligned content">
                <div class="left floated">
                  <LinkTo @route="companies.new" class="ui teal button">
                    {{t "general.addNew"}}
                  </LinkTo>
                </div>
                <div class="right floated">
                  <div class="ui right floated">
                    <PaginationList @data={{this.companies}} @pageChange={{this.pageChange}} />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {{#each this.companies as |company|}}
        <tr>
          <td>
            {{company.name}}
          </td>
          <td>
            {{company.cif}}
          </td>
          <td>
            {{company.contact}}
          </td>
          <td>
            {{company.phone}}
          </td>
          <td>
            <div class="ui fluid buttons">
              {{!-- <TableActions @model={{this.company}} @deleteModel={{this.destroyCompany}} /> --}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}