<div class="ui centered raised segment">
  <table class="ui table sortable padded selectable striped celled attached">
    <caption class="ui huge header teal">
      {{t "creditInvoices.title"}}
    </caption>
    <thead>
      <tr>
        <SortableHeader @sort={{this.sort}} @prop="number" @setSort={{this.setSort}}>
          {{t "creditInvoices.number"}}
        </SortableHeader>
        <th>
          {{t "creditInvoices.date"}}
        </th>
        <SortableHeader @sort={{this.sort}} @prop="total_value" @setSort={{this.setSort}}>
          {{t "creditInvoices.value"}}
        </SortableHeader>
        <th>
          <div class="ui search">
            <div class="ui fluid icon input">
              <Input @value={{this.filter}} @key-up={{this.setPage}} class="prompt" type="text" placeholder="Search" />
              <i
                class="{{if this.filterEmpty "search" "remove link"}} icon"
                role="button"
                {{on "click" this.clearFilter}}
              ></i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui items">
            <div class="item">
              <div class="middle aligned content">
                <div class="left floated">
                  <LinkTo @route="credit-invoices.new" class="ui teal button">
                    {{t "creditInvoices.newCI"}}
                  </LinkTo>
                </div>
                <div class="right floated">
                  <div class="ui right floated">
                    <PaginationList @data={{this.creditInvoices}} @pageChange={{this.pageChange}} />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {{#each this.creditInvoices as |ci|}}
        <tr>
          <td>
            {{ci.number}}
          </td>
          <td>
            {{moment-format ci.date "DD-MMM-YYYY" locale=this.locale}}
          </td>
          <td>
            {{ci.total_value}}
          </td>
          <td>
            <div class="ui fluid buttons">
              <button class="ui olive button" type="button">
                {{t "general.show"}}
              </button>
              <LinkTo @route="credit-invoices.edit" @model={{ci}} class="ui teal button">
                {{t "general.edit"}}
              </LinkTo>
              <button class="ui red button" type="button" {{on "click" (fn this.destroyCreditInvoice ci.id)}}>
                {{t "general.destroy"}}
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}