<div class="ui centered raised segment">
  <table class="ui table padded sortable selectable striped celled attached">
    <caption class="ui huge header teal">
      {{t "creditNotes.title"}}
    </caption>
    <thead>
      <tr>
        <SortableHeader @sort={{this.sort}} @prop="number" @tBase='creditNotes' @setSort={{action "setSort"}}/>
        <th>
          {{t "creditNotes.start"}}
        </th>
        <th>
          {{t "creditNotes.stop"}}
        </th>
        <SortableHeader @sort={{this.sort}} @prop="value" @tBase='creditNotes'  @setSort={{action "setSort"}}/>
        <SortableHeader @sort={{this.sort}} @prop="paid" @tBase='creditNotes' @setSort={{action "setSort"}}/>
        <SortableHeader @sort={{this.sort}} @prop="vehicle_id" @tBase='creditNotes' @setSort={{action "setSort"}}/>
        <th>
          {{t "creditNotes.notes"}}
        </th>
        <th>
          <div class="ui search">
            <div class="ui fluid icon input">
              {{input
                value=this.filter
                key-up=(action "setPage")
                class="prompt"
                type="text"
                placeholder="Search"
              }}
              <i
                class="{{if this.filterEmpty "search" "remove link"}} icon"
                role="button"
                {{action "clearFilter"}}
              ></i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui items">
            <div class="item">
              <div class="middle aligned content">
                <div class="left floated">
                  {{#link-to "credit-notes.new" class="ui teal button"}}
                    {{t "creditNotes.newCredit"}}
                  {{/link-to}}
                </div>
                <div class="right floated">
                  <div class="ui right floated">
                    {{pagination-list model=this.creditNotes page=this.page}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {{#each this.creditNotes as |cn|}}
        <tr>
          <td>
            {{cn.number}}
          </td>
          <td>
            {{cn.start}}
          </td>
          <td>
            {{cn.end}}
          </td>
          <td>
            {{cn.value}}
            {{cn.currency}}
          </td>
          <td>
            <i class={{paid cn.paid}}></i>
          </td>
          <td>
            {{cn.vehicle.registration}}
          </td>
          <td>
            {{cn.notes}}
          </td>
          <td>
            <div class="ui fluid buttons">
              <button class="ui olive button">
                {{t "general.show"}}
              </button>
              {{#link-to "credit-notes.edit" cn.id class="ui teal button"}}
                {{t "general.edit"}}
              {{/link-to}}
              <button class="ui red button" {{action "deleteButton" cn.id}}>
                {{t "general.destroy"}}
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}