<h1 class="ui centered teal header">
  {{t "registration.title"}}
</h1>
<div class="ui grid centered">
  <div class="ui sixteen wide mobile ten wide tablet eight wide computer
    column">
    <div class="ui centered raised segment">
      <form class="ui fluid large form" {{on "submit" this.createUser}}>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="firstName" class="ui horizontal label five wide column">
              {{t "registration.firstName"}}
            </label>
            <Input id="firstName" @value={{this.user.firstName}} autofocus={{true}} />
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="lastName" class="ui horizontal label five wide column">
              {{t "registration.lastName"}}
            </label>
            <Input id="lastName" @value={{this.user.lastName}} />
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="ssn" class="ui horizontal label five wide column">
              {{t "registration.ssn"}}
            </label>
            <Input id="ssn" @value={{this.user.ssn}} />
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="lang" class="ui horizontal label five wide column">
              {{t "registration.lang.title"}}
            </label>
            <UiDropdown class="selection eleven wide column" @selected="en" @onChange={{fn (mut this.user.lang)}}>
              <i class="dropdown icon"></i>
              <div class="default text"></div>
              <div class="menu">
                <div class="item" data-value="en">
                  {{t "registration.lang.en"}}
                </div>
                <div class="item" data-value="ro">
                  {{t "registration.lang.ro"}}
                </div>
              </div>
            </UiDropdown>
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="email" class="ui horizontal label five wide column">
              {{t "registration.email"}}
            </label>
            <Input type="email" id="email" @value={{this.user.email}} />
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="password" class="ui horizontal label five wide column">
              {{t "registration.pass"}}
            </label>
            <Input type="password" id="password" @value={{this.user.password}} />
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="passwordConfirmation" class="ui horizontal label five wide column">
              {{t "registration.passConf"}}
            </label>
            <Input type="password" id="passwordConfirmation" @value={{this.user.passwordConfirmation}} />
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">
          {{t "registration.button.registration"}}
        </button>
      </form>
    </div>
  </div>
</div>