<h1 class="ui centered teal header">
  {{t "registration.title"}}
</h1>
<div class="ui grid centered">
  <div
    class="ui sixteen wide mobile ten wide tablet eight wide computer
    column"
  >
    <div class="ui centered raised segment">
      <form class="ui fluid large form" {{action "createUser" on="submit"}}>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="firstName" class="ui horizontal label five wide column">
              {{t "registration.first_name"}}
            </label>
            {{input id="firstName" value=user.firstName autofocus=true}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="lastName" class="ui horizontal label five wide column">
              {{t "registration.last_name"}}
            </label>
            {{input id="lastName" value=user.lastName}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="ssn" class="ui horizontal label five wide column">
              {{t "registration.ssn"}}
            </label>
            {{input id="ssn" value=user.ssn}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="lang" class="ui horizontal label five wide column">
              {{t "registration.lang.title"}}
            </label>
            {{#ui-dropdown
              class="selection eleven wide column"
              selected="en"
              onChange=(action (mut user.lang))
            }}
              <i class="dropdown icon"></i>
              <div class="default text"></div>
              <div class="menu">
                <div class="item" data-value="en">
                  {{t "registration.lang.en"}}
                </div>
                <div class="item" data-value="ro">
                  {{t "registration.lang.ro"}}
                </div>
              </div>
            {{/ui-dropdown}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="email" class="ui horizontal label five wide column">
              {{t "registration.email"}}
            </label>
            {{input type="email" id="email" value=user.email}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label for="password" class="ui horizontal label five wide column">
              {{t "registration.pass"}}
            </label>
            {{input type="password" id="password" value=user.password}}
          </div>
        </div>
        <div class="inline field">
          <div class="ui fluid labeled input grid">
            <label
              for="passwordConfirmation"
              class="ui horizontal label five wide column"
            >
              {{t "registration.pass_conf"}}
            </label>
            {{input
              type="password"
              id="passwordConfirmation"
              value=user.passwordConfirmation
            }}
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">
          {{t "registration.button.registration"}}
        </button>
      </form>
    </div>
  </div>
</div>