<div class="ui grid centered">
  <div class="ui sixteen wide mobile ten wide tablet twelve wide computer column">
    <div class="ui centered raised segment">
      <div class="ui top attached tabular menu">
        <div class="link item active" data-tab="main">
          {{t "settings.mainTab"}}
        </div>
        <div class="link item" data-tab="company">
          {{t "settings.companyTab"}}
        </div>
      </div>
      <div class="ui bottom attached active tab segment" data-tab="main">
        <div class="ui selection very relaxed divided list">
          {{#each-in this.main as |key value|}}
            {{#if (is-array value)}}
              <TabMultilineItem @category={{key}} @list={{value}} @updateData={{fn this.updateCategory}} />
            {{/if}}
          {{/each-in}}
          {{#each-in this.main as |key value|}}
            {{#if (not (is-array value))}}
              <TabLineItem
                @objType="main"
                @inputType="text"
                @prop={{key}}
                @value={{value}}
                @saveData={{fn this.saveCompanyData}}
              />
            {{/if}}
          {{/each-in}}
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="company">
        <div class="ui selection very relaxed divided list">
          {{#each this.companyOrder as |list|}}
            <TabLineItem
              @objType="company"
              @prop={{get list 0}}
              @inputType={{get list 1}}
              @value={{get this.company (get list 0)}}
              @saveData={{fn this.saveCompanyData}}
            />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>