<div class="ui centered raised segment">
  <table class="ui table sortable padded selectable striped celled attached">
    <caption class="ui huge header teal">
      {{t "vehicles.title"}}
    </caption>
    <thead>
      <tr>
        <th>
          {{t "vehicles.vin"}}
        </th>
        <th>
          {{t "vehicles.registration"}}
        </th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="5">
          <div class="ui items">
            <div class="item">
              <div class="middle aligned content">
                <div class="left floated">
                  {{#link-to "vehicles.new" class="ui teal button"}}
                    {{t "vehicles.addNew"}}
                  {{/link-to}}
                </div>
                <div class="right floated">
                  <div class="ui right floated">
                    {{pagination-list model=this.vehicles page=this.page}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {{#each this.vehicles as |vehicle|}}
        <tr>
          <td>
            {{vehicle.vin}}
          </td>
          <td>
            {{vehicle.registration}}
          </td>
          <td class="collapsing">
            <div class="ui fluid buttons">
              {{! TODO custom actions }}
              {{!table-actions model=vehicle deleteModel=(action "destroyVehicle" vehicle)}}
              <button class="ui olive button">
                {{t "vehicles.details"}}
              </button>
              <button class="ui olive button">
                {{t "vehicles.cNotes"}}
              </button>
              <button class="ui olive button">
                {{t "vehicles.events"}}
              </button>
              {{#link-to "vehicles.edit" vehicle class="ui teal button"}}
                {{t "general.edit"}}
              {{/link-to}}
              <button
                class="ui red button"
                {{action "deleteButton" vehicle.id}}
              >
                {{t "general.destroy"}}
              </button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}